/* Default css file for jemdoc. */

table#tlayout {
    border: none;
    border-collapse: separate;
    background: white;
}

/*
body {
  background: white;
  padding-bottom: 8px;
  margin: 0;
}
*/

html {
  /* background-color: #eeeeee; */
  background-color: #ffffff;
}

body { 
  /*font-family: Sans-serif,serif*/
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #ffffff; 
  text-align: left; /* for IE */
  margin-top: 0px;  /* 30px */
  margin-bottom: 0px; /* 30px */
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px; /* 50px */
  padding-right: 0px; /* 50px */
  padding-top: 0px; /* 10px */
  padding-bottom: 0px; /* 30px */
  max-width: 1000px;
}

h1, h2 {
  color: #222;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  padding-bottom: 0.2em;
  line-height: 1.0;
  padding-top: 0.5em;
  border-bottom: 1px solid #aaaaaa;
}

em {
  font-style: italic;
}

h1 {
  font-size: 165%;
  padding-bottom: 0.3em;
}

h2 {
  padding-top: 0.8em;
  font-size: 125%;
}

h2 {
    padding-top: 0.2em;
}

h3 {
  font-size: 150%;
  border-bottom: none;
  margin-bottom: 0.0em;
}

/*a{
  color: #224b8d;
  text-decoration: none;
}
*/

a {
  color: #069; /* #239B56 */
  text-decoration: none;
}

a:hover {
  color: #01A9DB; /* #2ECC71 */
}

a.red {
  color: #F61717;
  text-decoration: none;
}

a.red:hover {
  color: #F79393;
}

a.header {
  color: #fff;
}

a.header:hover {
  color: #01A9DB;
}

p {
  margin-top: 0.0em;
  margin-bottom: 0.8em;
  padding: 0;
}

l {
  color: #7E7E7E;
  font-size: 90%;
}

img.round {
  border-radius: 50%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table.imgtable, table.imgtable td{
  border: none;
  padding: 0px;
  margin: 10px;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #aaa;
}

.header {
  width: 1000px;
  height: 29px;
  margin: 0 auto;
  padding-top: 6px;
  text-align: right;
  /* padding: 30px 0 0; */
  color: #ccc;
  background: #34495E;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.listbox {
  position: static;
  overflow-y: scroll;
  height: 150px;
  color: black;
  background-color: #EAF4F7;
  /*     border: 2px solid black; */
  /*     padding: 20px 50px 0px 30px; */
  /*     font-size: 15px; */
}

.github-button-wrapper {
  display: inline-block;
  position: relative;
  top: 4px;
}

footer {
  width: 1000px;
  height: 29px;
  padding-top: 6px;
  /* margin: 0 auto; */
  /* padding: 20px 0 0; */
  color: #ccc;
  background: #34495E;
  overflow: hidden;
}

footer a {
  color: #fff;
  font-weight: bold;
}

footer p {
  float: left;
}

footer p + p {
  float: right;
}
